<h1>{{title}}</h1>
<h3>Summary: {{description}}</h3>
<p>Author: {{author.name}}</p>
<p>Rating: {{rating}}</p>
{{#if imageUrl}}
    <img src="{{imageUrl}}" />
{{/if}}
<button><a href="/books/{{id}}/edit">Edit Book</a></button>
<hr/>
<p>Add a review</p>
<form action="/reviews/{{id}}/add" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Comment</label>
    <textarea name="comment"></textarea>
    <button type="submit">Add Review</button>
</form>
<hr/>
{{#each reviews}}
    <p>{{comment}} - {{name}}</p>
{{/each}}