<div class="log-div halls-div-img">
    <div class="student-team-page">
       {{#each team}}
        <div class="student-card">
            <h2>{{name}}</h2>
            <h4>House of {{house}}</h4>
            <h6>{{gender}}</h6>
            <hr>
            <p>Dark Arts: {{darkArts}}</p>
            <p>Defense Against the Dark Arts: {{defenseAgainstTheDarkArts}}</p>
            <p>Transfiguration: {{transfiguration}}</p>
            <p>Alchemy: {{alchemy}}</p>
        </div>
        {{/each}}
    </div>
</div>



