<div class="log-div halls-div-img">
    <div class="sorting-page">
       {{#each team}}
            <h1>{{name}}</h1>
            <h3>House of {{house}}</h3>
            <h4>{{gender}}</h4>


            <h5>grades</h5>
            <p>Dark Arts:{{darkArts}}</p>
            <p>Defense Against the Dark Arts:{{defenseAgainstTheDarkArts}}</p>
            <p>Transfiguration:{{transfiguration}}</p>
            <p>Alchemy:{{alchemy}}</p>
            {{/each}}
    </div>
</div>



