<h1>{{name}}</h1>
<h3>Description: {{description}}</h3>

{{#if imageUrl}}
    <img src="{{imageUrl}}" />
{{/if}}
<button><a href="/students/{{id}}/edit">Edit a Student</a></button>
<hr/>

{{#if choosen}}


<form action="/students/{{id}}/remove" method="POST">
<p>Press to remove {{name}} from your quidditch lineup</p>
    <button type="submit">Bench</button>
</form>

{{else}}
<form action="/students/{{id}}/add" method="POST">
<p>Press to add {{name}} to your quidditch lineup</p>
    <button type="submit">Recruit</button>
</form>
{{/if}}


{{!-- <p>Add a review</p>
<form action="/reviews/{{id}}/add" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Comment</label>
    <textarea name="comment"></textarea>
    <button type="submit">Add Review</button>
</form>
<hr/> --}}
{{!-- {{#each reviews}}
    <p>{{comment}} - {{name}}</p>
{{/each}} --}}
