<h1>Tournaments list</h1>
{{#each tournaments}}
 <a href="tournaments/{{id}}">   {{name}} tournament  </a>

<br>
Description: {{description}}
<br>
<br>
<br>
{{/each}}

<br>
<button><a href="/tournaments/update">Update</a></button>
<hr/>
{{!-- <ul>
{{#each books}}
<li>
    <a href="books/{{id}}">   {{title}}  </a>
    <form action="/books/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    <br/>
</li>
{{/each}}
</ul> --}}

