<h1>Houses list</h1>
{{#each houses}}
 <a href="houses/{{id}}">  House of {{name}}  </a>

<br>
Description: {{values}}
<br>
<br>
<br>
{{/each}}

{{#if }}


<br>
<button><a href="/houses/update">Update</a></button>
<hr/>
{{!-- <ul>
{{#each books}}
<li>
    <a href="books/{{id}}">   {{title}}  </a>
    <form action="/books/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    <br/>
</li>
{{/each}}
</ul> --}}

